/*================== Globales ======================*/
*{
    scroll-behavior: smooth;
}


table, th, td {
	border: 1px solid black;
	text-align: left;
}

section{
    margin: 20px;
}

table{
    margin-bottom: 60px;
}

header{
    margin-bottom: 140px;
}

main h1{
    text-align: center;
}


/*=========== CSS PARA NAV BAR ==================*/
nav{
    width: 100%;
    top: 0;
    z-index: 10;
}

.navbar{
    background-color: rgb(163, 133, 72);
    align-items: center;
    justify-content: space-between !important;
    padding-right: 50px;
}

.navbar-nav a{
    color: white;
    background-color: rgb(163, 133, 72);
}

.navbar-nav a:hover{
    color: rgb(176, 41, 41);
}

.nav-item{
    border: 1px solid ;
    margin-right: 10px;
    border-radius: 5px;
    color: rgb(163, 133, 72);
}

/*==========ULTIMOS ARREGLOS ================*/

.titulos{
    text-align: center;
}

/*Clase con JS*/
.hacerZoom {
    width: 500px;
    transition: 0.5s ease;
}
